<%- include("partials/header");-%> <%- include("partials/banner");-%>
<script defer type="text/javascript" src="/scripts/search.js"></script>
<button class="roundButton search">
  <i class="fa-solid fa-magnifying-glass"></i>
</button>
<div id="container">
  <% boeken.forEach(function(boek){ %>
  <div class="card">
    <a href="/boek?boekName=<%=boek.naam %>&index=0 ">
      <img
        class="cover"
        src="Images/<%= boek.nummer%>/<%=boek.coverImage%>.jpg"
        alt=""
        srcset=""
    /></a>
  </div>
  <% })%>
</div>

<div id="zoekContainer">
  <input type="text" id="searchInput" placeholder="zoek.."  autocomplete="off"/>
  <div id="hoofdstukContainer">
    <% hoofdstukken.forEach(function(hoofdstuk){ %>
    <div class="hoofdstukItem">
      <a class="sqButton" href="/boek?boekName=<%=hoofdstuk.boekNaam %>&index=0" ><%=hoofdstuk.boekNr %></a>
      <a class="hoofdstuk rectButton"
        href="/boek?boekName=<%=hoofdstuk.boekNaam %>&index=<%=hoofdstuk.pagNr %> "
        ><%=hoofdstuk.naam %></a
      >
    </div>
    <% })%>
  </div>
</div>
<%- include("partials/footer");-%>
